body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
  }
  
  header {
    background-color: #28bf96;
    color: white;
    padding: 20px;
    text-align: center;
    border-radius: 20px;
  }
  
  header h1 {
    margin: 0;
  }
  
  header p {
    margin: 5px 0 0;
  }
  
  .grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
  }
  
  .grid-item {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
  }
  
  .grid-item img {
    width: 100px;
    height: 100px;
    margin-bottom: 15px;
  }
  
  .grid-item h3 {
    margin: 10px 0;
  }
  
  .grid-item p {
    font-size: 14px;
    color: #666;
  }
  
  button {
    background-color: #28bf96;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  button:hover {
    background-color: #28bf96;
  }
  
  footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: white;
  }
  
  footer a {
    color: #28bf96;
    text-decoration: none;
  }
  
  footer a:hover {
    text-decoration: underline;
  }
  img {
    width: 120px; /* Increase the width */
    height: 120px; /* Increase the height */
    border-radius: 15px; /* Rounded corners */
}
